<ion-view title="Currently User" id="page4" style="background-color:#F8CB6C;" hide-nav-bar="true">
        <ion-header-bar class="top">
          <h1 class="title">{{userdata.username}}</h1>
          <button class="button button-icon ion-gear-b" ng-click="goSetting()">
          </button>
        </ion-header-bar>
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="postHeader">
            <div class="item-avatar headerImage">
                <img src={{userdata.photo}} />
            </div>
            <div class="posts">
                <strong>{{userdata.postsNum}}</strong><br>
                <strong>posts</strong>
            </div>
            <div class="posts">
                <strong ng-click='followerDetail()'>{{userdata.follower}}</strong><br>
                <strong>follower</strong>
            </div>
            <div class="posts">
                <strong ng-click='followedDetail()'>{{userdata.followed}}</strong><br>
                <strong>followed</strong>
            </div>
        </div>

​

        <div class="homePost postHeader" ng-repeat="(key, value) in userdata.posts" >
            <div class="postDesc">
                <p class="postTitle">{{value.context}}</p>
                <button class="button button-icon ion-close-circled deleteButton" ng-click="delete(key)" >
                </button>
            </div>

            <div class="{{value.imageEffect}} postImage">
                <img src="{{value.imagePath}}" />
            </div>
            <div class="postComment">
                <div class="likeAndComment">
                    <span class="ion-ios-heart" ng-click="like(key)" ng-show="value.islike"></span>
                    <span class="ion-ios-heart-outline" ng-click="like(key)" ng-hide="value.islike"></span>
                    <!-- <span></span> -->
                    <div ng-if='showLike(value)' style="display: inline-block;">
                        {{value.like.length-1}}
                    </div>

                    <span class="ion-ios-chatbubble-outline" ng-click="commentsPage(key)"></span>
                    <!-- <span></span> -->
                    <div ng-if='value.comment' style="display: inline-block;">
                        {{getLength(value.comment)}}
                    </div>
                </div>
                <div class="newlyComment">
​
                </div>
            </div>
        </div>
​
    </ion-content>
</ion-view>