<ion-view title="Currently User" id="page4">
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-header-bar class="top" style="background-color:#F8CB6C;">
          <h1 class="title">Items</h1>
          <button class="button button-icon ion-gear-b" ng-click="goSetting()">
          </button>
        </ion-header-bar>
        <div style="margin-top: 44px;">

        </div>


<!--         <div>
            <img src="" <="" div="">
        </div>
        <div>
            <img src="http://placekitten.com/60/60" style="display:inline-display">
            <span>Post</span>
            <span>Fellower</span>
            <span>Fellowed</span>
        </div> -->
    </ion-content>
</ion-view>