<ion-view title="Home" id="page2" style="background-color:#F8CB6C;">
    <ion-content padding="true" scroll="true" class="has-header">
        <div class="searchWarpper">
            <form class="search" method="post" action="" >
                <input type="text" name="q" placeholder="Search..." class="ion-search"/>
                <ul class="results" >
                    <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li>
                    <li><a href="index.html">Search Result #2<br /><span>Description...</span></a></li>
                    <li><a href="index.html">Search Result #3<br /><span>Description...</span></a></li>
                    <li><a href="index.html">Searc  h Result #4</a></li>
                </ul>
            </form>
        </div>
                <!-- {{posts}} -->

        <div class="homePost" ng-repeat="post in posts">
<!--         {{post.photo}} -->
            <div class="postHeader">
                <div class="item-avatar headerImage" ng-click="detail(post.userid)">
                    <img src={{post.photo}} />
                </div>
                <div class="postName"><strong>{{post.username}}</strong></div>
                <div class="postTime">{{post.createdAt}}</div>
            </div>
            <div class="postDesc">
                <p>{{post.context}}</p>
            </div>
            <div class="postImage">
                <img src="{{post.imagePath}}" />
            </div>
            <div class="postComment">
                <div class="likeAndComment">
                    <span class="ion-ios-heart-outline"></span>
                    <span class="ion-ios-chatbubble-outline"></span>
                </div>
                <div class="newlyComment">

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>