<ion-view title="Home" id="page2" style="background-color:#F8CB6C;">
    <ion-content padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="list card">
            <div class="item item-divider">Post</div>
            <div class="item item-body">
                <div>
                    <img src="http://placekitten.com/40/40" style="display:inline-block">
                    <span>someone</span>
                </div>
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">happy new year!!!</span><textarea placeholder=""> </textarea>
                    </label>
                </form>
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <form class="list"></form>
                <div>
                    <div>
                        <span class="ion-heart"></span>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>