<ion-view title="User" id="page4" style="background-color:#F8CB6C;" hide-nav-bar="true">
        <ion-header-bar class="top" style="background-color:##DF7401;">
          <a href="/#/page1/page2"><button class="button button-icon ion-ios-arrow-back">
          </button></a>
          <h1 class="title">{{userdata.username}}</h1>
        </ion-header-bar>
    <ion-content  scroll="true" class="has-header">
        <div class="postHeader">
            <div class="item-avatar headerImage">
                <img src={{userdata.photo}} />
            </div>
            <div class="posts">
                <strong>{{userdata.postsNum}}</strong><br>
                <strong>posts</strong>
            </div>
            <div class="posts">
                <strong>X</strong><br>
                <strong>followed</strong>
            </div>
            <div class="posts">
                <strong>X</strong><br>
                <strong>follower</strong>
            </div>
        </div>

        <div class="homePost" ng-repeat="post in userdata.posts" >
            <div class="postDesc">
                <p>{{post.context}}</p>
            </div>
            <div class="postImage">
                <img src="{{post.imagePath}}" />
            </div>
            <div class="postComment">
                <div class="likeAndComment">
                    <span class="ion-ios-heart-outline"></span>
                    <span class="ion-ios-chatbubble-outline"></span>
                </div>
                <div class="newlyComment">

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>